body {
  font-family: "Lato", sans-serif; }

html {
  scroll-behavior: smooth; }

header {
  height: 156px;
  margin: 0px;
  padding: 0px; }
  header .navbar-brand {
    padding-top: 0;
    padding-bottom: 0; }
  header i {
    margin: 0px;
    top: 17px;
    position: absolute; }
  header img {
    height: 85px !important; }

.testimonial-net {
  width: auto;
  height: 80px;
  margin: 0px;
  padding: 15px 20px;
  border: solid 1px #ccc;
  border-radius: 5px; }
  .testimonial-net p {
    font-size: 16px;
    line-height: 16px;
    font-style: italic;
    color: #666;
    margin: 5px 0px 0px 0px;
    text-align: center; }
  .testimonial-net h6 {
    font-size: 14px;
    line-height: 16px;
    color: #999;
    font-weight: 500;
    margin: 5px 0px 0px 0px;
    text-align: center; }

.top-net {
  background: #1c222e;
  color: #fff;
  height: 40px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  float: right; }
  .top-net i {
    margin: 0px 0px 0px 0px;
    line-height: 40px;
    padding: 0px 3px 0px 15px;
    font-size: 16px;
    float: right; }
  .top-net a {
    line-height: 40px;
    height: 40px;
    float: right;
    margin: 0px 7px;
    font-weight: 300 !important;
    font-size: 14px;
    color: #fff !important;
    text-transform: lowercase !important; }
    .top-net a img {
      height: 20px !important;
      margin: 0px;
      padding: 0px; }
    .top-net a:hover {
      opacity: 0.7; }

.nav-net {
  width: 100%;
  background: #2e5cc1;
  min-height: 40px;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  z-index: 10010; }
  .nav-net .nav-link {
    color: #fff !important;
    width: 155px;
    text-align: center; }
    .nav-net .nav-link:hover {
      opacity: 0.6; }

.seccion-slider {
  width: 100%;
  padding-bottom: 50px;
  margin: 0px;
  background: #fff;
  /* Set a specific height */
  min-height: 100px; }

.header-net {
  background: white;
  min-height: auto;
  width: 100%; }
  .header-net .nav-link {
    color: #606E7C !important; }

.h-cneter-vert {
  padding: 50px 0px 0px 0px !important; }
  .h-cneter-vert h2 {
    padding: 50px 0px 0px 0px !important; }

*[id]:before {
  display: block;
  content: " ";
  margin-top: -156px;
  height: 156px;
  visibility: hidden; }

.h--margin-top {
  margin-top: 50px !important; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #4A90E2;
  color: white;
  cursor: pointer;
  padding: 3px 7px;
  border-radius: 10px; }
  #myBtn:hover {
    background-color: #55BED1; }

.home-slider {
  padding: 0px;
  margin: 195px 0px 0px 0px;
  min-height: 400px; }
  .home-slider p {
    font-size: 20px; }
  .home-slider h5 {
    font-size: 65px; }
  .home-slider .img-responsive {
    display: block;
    width: 100%;
    height: auto; }
  .home-slider .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0;
    top: 80px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left; }
  .home-slider .carousel-inner {
    height: 400px; }

.seccion-quienes {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url(../images/web/fondo-quienes.png);
  /* Set a specific height */
  min-height: 550px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .seccion-quienes .quienes-titulo {
    width: 100%; }
    .seccion-quienes .quienes-titulo h1 {
      text-align: center !important;
      font-size: 2.5rem;
      padding: 0px 0px 30px 0px;
      text-transform: uppercase; }

.seccion-visitas {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url(../images/web/fondo-seccion3.png);
  /* Set a specific height */
  min-height: 550px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .seccion-visitas .Visitas-titulo {
    width: 100%;
    margin: 10px auto; }
    .seccion-visitas .Visitas-titulo h1 {
      text-align: center !important;
      font-size: 2.7rem; }
  .seccion-visitas .visitas-contenido {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 40px 0px 0px 0px; }
    .seccion-visitas .visitas-contenido h3 {
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 200 !important;
      line-height: 40px;
      margin: 10px 0px 20px 0px;
      padding: 0;
      text-align: left; }
    .seccion-visitas .visitas-contenido p {
      font-size: 16px;
      text-align: left;
      color: #fff;
      line-height: 16px; }
    .seccion-visitas .visitas-contenido ul {
      margin: 20px 0px 20px 15px; }
    .seccion-visitas .visitas-contenido li {
      font-size: 15px;
      text-align: left;
      color: #fff;
      opacity: 0.85;
      line-height: 25px;
      font-weight: lighter; }
  .seccion-visitas h1 {
    width: 100%;
    text-align: left !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 35px; }
  .seccion-visitas h2 {
    font-size: 18px;
    text-align: left;
    color: #fff; }

.seccion-planes {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url(../images/web/fondo-planes.png);
  /* Set a specific height */
  min-height: 550px;
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .seccion-planes .planes-titulo {
    color: #184069;
    text-align: center !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0px auto;
    width: 100%; }
  .seccion-planes .planes-subtitulo {
    color: #184069;
    text-align: center !important;
    padding: 0;
    margin: 0px auto; }
    .seccion-planes .planes-subtitulo h3 {
      font-size: 20px !important;
      width: 100%;
      margin: 0px 0px 20px 0px; }

.seccion-google {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url(../images/web/fondo-planes.png);
  /* Set a specific height */
  min-height: 550px;
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .seccion-google .google-contenido {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 40px 0px 0px 0px; }
    .seccion-google .google-contenido h3 {
      font-size: 20px;
      color: #184069;
      text-transform: uppercase;
      font-weight: 200 !important;
      line-height: 20px;
      margin: 15px 0px 20px 0px;
      padding: 0;
      text-align: left; }
    .seccion-google .google-contenido p {
      font-size: 16px;
      text-align: left;
      color: #184069;
      line-height: 16px; }
    .seccion-google .google-contenido ul {
      margin: 20px 0px 20px 15px; }
    .seccion-google .google-contenido li {
      font-size: 15px;
      text-align: left;
      color: #184069;
      opacity: 0.85;
      line-height: 25px;
      font-weight: lighter; }
  .seccion-google h1 {
    width: 100%;
    text-align: left !important;
    color: #184069;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 35px; }
  .seccion-google h2 {
    font-size: 18px;
    text-align: left;
    color: #184069; }

.seccion-banner {
  width: 100%;
  padding: 50px 0px 50px 0px;
  margin: 0px 0px 0px 0px;
  background: #1a2530;
  min-height: 50px; }
  .seccion-banner h2 {
    font-size: 40px !important;
    font-weight: lighter;
    font-weight: 300 !important; }
  .seccion-banner .banner-titulo {
    color: white !important;
    text-align: center !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0px auto;
    width: 100%;
    font-size: 10px !important; }

.seccion-banner2 {
  width: 100%;
  padding: 200px 0px 50px 0px;
  margin: 0px 0px 0px 0px;
  background: #1a2530;
  min-height: 50px; }
  .seccion-banner2 h2 {
    font-size: 40px !important;
    font-weight: lighter;
    font-weight: 300 !important; }
  .seccion-banner2 .banner-titulo {
    color: white !important;
    text-align: center !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0px auto;
    width: 100%;
    font-size: 10px !important; }

.seccion-cctv {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url(../images/web/fondo-cctv.png);
  /* Set a specific height */
  min-height: 550px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .seccion-cctv .cctv-titulo {
    color: #fff;
    text-align: center !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0px auto;
    width: 100%; }
  .seccion-cctv .cctv-subtitulo {
    color: #eee;
    text-align: center !important;
    padding: 0;
    margin: 10px auto; }
    .seccion-cctv .cctv-subtitulo h2 {
      font-size: 27px !important;
      width: 100%;
      margin: 0px 0px 20px 0px;
      color: #eee !important;
      opacity: 0.8; }
    .seccion-cctv .cctv-subtitulo h3 {
      font-size: 20px !important;
      width: 100%;
      margin: 0px 0px 20px 0px;
      color: #eee !important;
      opacity: 0.8; }

.seccion-sign {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url(../images/web/fondo-servelct.png);
  /* Set a specific height */
  min-height: 200px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .seccion-sign .sign-titulo {
    color: #fff;
    text-align: center !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0px auto;
    width: 100%; }
  .seccion-sign .sign-subtitulo {
    color: #eee;
    text-align: center !important;
    padding: 0;
    margin: 10px auto; }
    .seccion-sign .sign-subtitulo h2 {
      font-size: 27px !important;
      width: 100%;
      margin: 0px 0px 20px 0px;
      color: #eee !important;
      opacity: 0.8; }
    .seccion-sign .sign-subtitulo h3 {
      font-size: 20px !important;
      width: 100%;
      margin: 0px 0px 20px 0px;
      color: #eee !important;
      opacity: 0.8; }
  .seccion-sign .sign-cont {
    font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 100;
    background-color: rgba(77, 77, 77, 0.2);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    border: solid 3px #fff;
    padding-top: 20px !important;
    padding-right: 25px !important;
    padding-bottom: 0px !important;
    padding-left: 25px !important;
    color: #fff !important;
    min-height: 220px;
    margin: 20px 0px 20px 0px; }
    .seccion-sign .sign-cont .sign-parrafo {
      padding: 0; }
    .seccion-sign .sign-cont ul {
      padding: 0;
      margin: 30px 0px; }
    .seccion-sign .sign-cont p {
      padding: 0;
      margin: 0;
      font-size: 18px;
      font-weight: 300 !important; }
    .seccion-sign .sign-cont h2 {
      text-align: center;
      font-weight: 300;
      font-size: 23px;
      text-transform: uppercase;
      font-weight: 200;
      min-height: 40px;
      margin: 0px 0px 20px 0px;
      padding: 0px; }
    .seccion-sign .sign-cont .section-title {
      margin: 0px 0px 20px 0px;
      padding-top: 50px;
      padding-bottom: 50px; }

.seccion-clientes {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url(../images/web/fondo-clientes.png);
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .seccion-clientes .planes-titulo {
    color: #184069;
    text-align: center !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0px auto;
    width: 100%; }
  .seccion-clientes .planes-subtitulo {
    color: #184069;
    text-align: center !important;
    padding: 0;
    margin: 0px auto; }
    .seccion-clientes .planes-subtitulo h3 {
      font-size: 20px !important;
      width: 100%;
      margin: 0px 0px 20px 0px; }
  .seccion-clientes .clientes-img {
    font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 100;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    border: solid 3px #fff;
    padding-top: 5px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 40px !important;
    color: #fff !important;
    margin: 20px auto; }
    .seccion-clientes .clientes-img img {
      width: 80%;
      margin: 0px auto 0 auto; }

.seccion-trabajo {
  width: 100%;
  padding-top: 50px;
  margin: 0px 0px 0px 0px; }
  .seccion-trabajo .modal-dialog {
    max-width: 500px;
    margin: 190px auto !important; }
  .seccion-trabajo .trabajo-titulo {
    color: #184069;
    text-align: center !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0px auto 40px auto;
    width: 100%; }
  .seccion-trabajo .trabajo-subtitulo {
    color: #184069;
    text-align: center !important;
    padding: 0;
    margin: 0px auto; }
    .seccion-trabajo .trabajo-subtitulo h3 {
      font-size: 20px !important;
      width: 100%;
      margin: 0px 0px 20px 0px; }
  .seccion-trabajo .trabajo-img {
    font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 100;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    border: solid 3px #fff;
    padding-top: 5px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 40px !important;
    color: #fff !important;
    margin: 20px auto; }
    .seccion-trabajo .trabajo-img img {
      width: 80%;
      margin: 0px auto 0 auto; }

.seccion-team {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url(../images/web/fondo-team.png);
  /* Set a specific height */
  min-height: 550px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .seccion-team .team-titulo {
    color: #fff;
    text-align: center !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0px auto;
    width: 100%; }
  .seccion-team .team-subtitulo {
    color: #eee;
    text-align: center !important;
    padding: 0;
    margin: 10px auto; }
    .seccion-team .team-subtitulo h2 {
      font-size: 27px !important;
      width: 100%;
      margin: 0px 0px 20px 0px;
      color: #eee !important;
      opacity: 0.9; }
    .seccion-team .team-subtitulo h3 {
      font-size: 20px !important;
      width: 100%;
      margin: 0px 0px 20px 0px;
      color: #eee !important;
      opacity: 0.9; }

.seccion-contacto {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url(../images/web/fondo-contacto2.png);
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*form */
  /*end form */
  /*infoCard */
  /*end infoCard */ }
  .seccion-contacto textarea {
    overflow: auto;
    resize: vertical;
    background: none; }
  .seccion-contacto li {
    font-size: 16px !important;
    width: 100%;
    margin: 0px;
    color: #184069;
    opacity: 0.9; }
  .seccion-contacto h4 {
    font-size: 22px !important;
    width: 100%;
    margin: 0px 0px 20px 0px;
    color: #184069;
    opacity: 0.9; }
  .seccion-contacto .contacto-titulo {
    color: #FFF;
    text-align: center !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0px auto;
    width: 100%; }
  .seccion-contacto .contacto-subtitulo {
    color: #FFF;
    text-align: center !important;
    padding: 0;
    margin: 10px auto; }
    .seccion-contacto .contacto-subtitulo h2 {
      font-size: 27px !important;
      width: 100%;
      margin: 0px 0px 20px 0px;
      color: #FFF;
      opacity: 0.9; }
    .seccion-contacto .contacto-subtitulo h3 {
      font-size: 20px !important;
      width: 100%;
      margin: 0px 0px 20px 0px;
      color: #FFF;
      opacity: 0.9; }
  .seccion-contacto .clear {
    clear: both; }
  .seccion-contacto .wrapper {
    width: 73%;
    margin: 2% auto; }
  .seccion-contacto .formInfo {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px 40px 0px 40px;
    border-radius: 6px; }
  .seccion-contacto form input[type="text"], .seccion-contacto form input[type="email"] {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    background-color: transparent; }
  .seccion-contacto button {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    background-color: transparent; }
  .seccion-contacto form input, .seccion-contacto form textarea {
    width: 100%;
    color: #666;
    border: none;
    border: 1px solid #8b8c8f;
    margin-bottom: 12px !important;
    border-radius: 5px !important;
    margin: 0 auto;
    padding: 12px;
    padding-left: 6px;
    padding-bottom: 6px;
    border-radius: 0;
    background-color: transparent; }
  .seccion-contacto form input, .seccion-contacto form textarea, .seccion-contacto form button {
    opacity: 0.8;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s; }
  .seccion-contacto a {
    opacity: 0.8;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s; }
  .seccion-contacto form button {
    background-color: #0971b7;
    text-align: center;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
    width: 100%;
    padding: 12px;
    margin-top: 4%;
    margin-bottom: 5%; }
  .seccion-contacto input:focus, .seccion-contacto textarea:focus, .seccion-contacto select:focus, .seccion-contacto input:hover, .seccion-contacto textarea:hover, .seccion-contacto form button:hover, .seccion-contacto a:hover {
    opacity: 1;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    display: inline-block;
    border-color: #0971b7;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none !important; }
  .seccion-contacto .infoCard {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700; }
    .seccion-contacto .infoCard img {
      border-radius: 50%;
      border: 4px solid #0971b7;
      margin-bottom: 12px; }
    .seccion-contacto .infoCard a {
      color: #0971b7;
      text-decoration: none; }
      .seccion-contacto .infoCard a:hover {
        color: #0971b7;
        text-decoration: none; }
    .seccion-contacto .infoCard p {
      color: #878584;
      margin-bottom: 0; }
  .seccion-contacto ul.social {
    padding: 0;
    list-style-type: none;
    margin: 0 auto;
    margin-top: 12px;
    width: 150px; }
    .seccion-contacto ul.social li {
      display: inline-block;
      width: 33, 3333%;
      margin-bottom: 6px; }
      .seccion-contacto ul.social li .fa {
        color: #fff;
        background-color: #0971b7;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        vertical-align: top;
        padding-top: 8px; }

.seccion-contacto-modal {
  /*form */
  /*end form */
  /*infoCard */
  /*end infoCard */ }
  .seccion-contacto-modal .clear {
    clear: both; }
  .seccion-contacto-modal .wrapper {
    width: 73%;
    margin: 2% auto; }
  .seccion-contacto-modal .formInfo {
    background-color: #fff;
    padding: 40px;
    border-radius: 6px; }
  .seccion-contacto-modal form input[type="text"], .seccion-contacto-modal form input[type="email"] {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    background-color: transparent; }
  .seccion-contacto-modal form input, .seccion-contacto-modal form textarea {
    width: 100%;
    color: #666;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 12px !important;
    margin: 0 auto;
    padding: 12px;
    padding-left: 6px;
    padding-bottom: 6px;
    border-radius: 0; }
  .seccion-contacto-modal form input, .seccion-contacto-modal form textarea, .seccion-contacto-modal form button {
    opacity: 0.8;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s; }
  .seccion-contacto-modal a {
    opacity: 0.8;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s; }
  .seccion-contacto-modal form button {
    background-color: #0971b7;
    text-align: center;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
    width: 100%;
    padding: 12px;
    margin-top: 4%;
    margin-bottom: 5%; }
  .seccion-contacto-modal input:focus, .seccion-contacto-modal textarea:focus, .seccion-contacto-modal select:focus, .seccion-contacto-modal input:hover, .seccion-contacto-modal textarea:hover, .seccion-contacto-modal form button:hover, .seccion-contacto-modal a:hover {
    opacity: 1;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    display: inline-block;
    border-color: #0971b7;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none !important; }
  .seccion-contacto-modal .infoCard {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700; }
    .seccion-contacto-modal .infoCard img {
      border-radius: 50%;
      border: 4px solid #0971b7;
      margin-bottom: 12px; }
    .seccion-contacto-modal .infoCard a {
      color: #0971b7;
      text-decoration: none; }
      .seccion-contacto-modal .infoCard a:hover {
        color: #0971b7;
        text-decoration: none; }
    .seccion-contacto-modal .infoCard p {
      color: #878584;
      margin-bottom: 0; }
  .seccion-contacto-modal ul.social {
    padding: 0;
    list-style-type: none;
    margin: 0 auto;
    margin-top: 12px;
    width: 150px; }
    .seccion-contacto-modal ul.social li {
      display: inline-block;
      width: 33, 3333%;
      margin-bottom: 6px; }
      .seccion-contacto-modal ul.social li .fa {
        color: #fff;
        background-color: #0971b7;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        vertical-align: top;
        padding-top: 8px; }

.seccion-electricidad {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url(../images/web/fondo-elect.png);
  /* Set a specific height */
  min-height: 550px;
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .seccion-electricidad .elect-cont {
    font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 100;
    background-color: rgba(77, 77, 77, 0.2);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    border: solid 3px #fff;
    padding-top: 20px !important;
    padding-right: 25px !important;
    padding-bottom: 0px !important;
    padding-left: 25px !important;
    color: #fff !important;
    min-height: 280px;
    margin: 20px 0px 0px 0px; }
    .seccion-electricidad .elect-cont .elect-parrafo {
      padding: 0; }
    .seccion-electricidad .elect-cont ul {
      padding: 0;
      margin: 30px 0px; }
    .seccion-electricidad .elect-cont p {
      padding: 0;
      margin: 0;
      font-size: 20px;
      font-weight: 300; }
    .seccion-electricidad .elect-cont h2 {
      text-align: center;
      font-weight: 900;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 200;
      height: 40px;
      margin: 0px 0px 20px 0px;
      padding: 0px; }
    .seccion-electricidad .elect-cont .section-title {
      margin: 0px 0px 20px 0px;
      padding-top: 50px;
      padding-bottom: 50px; }

.seccion-air {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url(../images/web/fondo-aire.png);
  /* Set a specific height */
  min-height: 250px;
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .seccion-air .air-titulo {
    color: #184069;
    text-align: center !important;
    text-transform: uppercase;
    padding: 30px 0px 0px 0px;
    margin: 0px auto;
    width: 100%; }
  .seccion-air .air-subtitulo {
    color: #184069;
    text-align: center !important;
    padding: 0;
    margin: 0px auto; }
    .seccion-air .air-subtitulo h3 {
      font-size: 20px !important;
      width: 100%;
      margin: 0px 0px 20px 0px; }
  .seccion-air .air-cont {
    font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 100;
    background-color: rgba(77, 77, 77, 0.2);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    border: solid 3px #fff;
    padding-top: 20px !important;
    padding-right: 25px !important;
    padding-bottom: 0px !important;
    padding-left: 25px !important;
    color: #fff !important; }
    .seccion-air .air-cont .air-parrafo {
      min-height: 140px; }
    .seccion-air .air-cont h2 {
      text-align: left;
      font-weight: 300;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 200;
      min-height: 40px;
      margin: 0px 0px 20px 0px;
      padding: 0px; }
    .seccion-air .air-cont .section-title {
      margin: 0px 0px 20px 0px;
      padding-top: 50px;
      padding-bottom: 50px; }

.seccion-certific {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url(../images/web/fondo-aire2.png);
  /* Set a specific height */
  min-height: 250px;
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .seccion-certific img {
    height: 100px;
    margin: 0px auto;
    text-align: center; }
  .seccion-certific h1 {
    text-align: center;
    font-weight: 300;
    font-size: 2.7rem;
    text-transform: uppercase;
    min-height: 70px;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    color: #184069; }
  .seccion-certific p {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    min-height: 30px;
    margin: 20px 0px 20px 0px;
    padding: 0px;
    color: #184069; }

.seccion-control {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background: url(../images/web/fondo-industrial.png);
  /* Set a specific height */
  min-height: 430px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .seccion-control .control-titulo {
    color: #fff;
    text-align: center !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0px auto;
    width: 100%; }
  .seccion-control .control-subtitulo {
    color: #eee;
    text-align: center !important;
    padding: 0;
    margin: 10px auto; }
    .seccion-control .control-subtitulo h2 {
      font-size: 27px !important;
      width: 100%;
      margin: 0px 0px 20px 0px;
      color: #eee !important;
      opacity: 0.9; }
    .seccion-control .control-subtitulo h3 {
      font-size: 20px !important;
      width: 100%;
      margin: 0px 0px 20px 0px;
      color: #eee !important;
      opacity: 0.9; }
  .seccion-control .control-cont {
    font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 100;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    border: solid 3px #fff;
    padding-top: 20px !important;
    padding-right: 25px !important;
    padding-bottom: 0px !important;
    padding-left: 25px !important;
    color: #fff !important;
    min-height: 220px;
    margin: 20px 0px 20px 0px; }
    .seccion-control .control-cont .control-parrafo {
      padding: 0; }
    .seccion-control .control-cont ul {
      padding: 0;
      margin: 30px 0px; }
    .seccion-control .control-cont p {
      padding: 0;
      margin: 0;
      font-size: 18px;
      font-weight: 300 !important; }
    .seccion-control .control-cont h2 {
      text-align: center;
      font-weight: 300;
      font-size: 23px;
      text-transform: uppercase;
      font-weight: 200;
      min-height: 40px;
      margin: 0px 0px 20px 0px;
      padding: 0px; }
    .seccion-control .control-cont .section-title {
      margin: 0px 0px 20px 0px;
      padding-top: 50px;
      padding-bottom: 50px; }

.titulo-secciones {
  color: #184069; }

.titulo-seccionesBL {
  color: #fff; }

.quienes-cont {
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 100;
  background-color: rgba(16, 63, 140, 0.6);
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  border: solid 3px #fff;
  padding-top: 20px !important;
  padding-right: 25px !important;
  padding-bottom: 0px !important;
  padding-left: 25px !important;
  color: #fff !important; }
  .quienes-cont .cont-parrafo {
    min-height: 310px; }
  .quienes-cont ul {
    padding: 0;
    margin: 30px 0px; }
  .quienes-cont p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: lighter; }
  .quienes-cont h2 {
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 200;
    height: 40px;
    margin: 0px 0px 20px 0px;
    padding: 0px; }
  .quienes-cont .section-title {
    margin: 0px 0px 20px 0px;
    padding-top: 50px;
    padding-bottom: 50px; }

.planes-cont {
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 100;
  background-color: rgba(77, 77, 77, 0.2);
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  border: solid 3px #fff;
  padding-top: 20px !important;
  padding-right: 25px !important;
  padding-bottom: 0px !important;
  padding-left: 25px !important;
  color: #fff !important; }
  .planes-cont .cont-parrafo {
    min-height: 140px; }
  .planes-cont .imagen-plan {
    margin: 10px auto 20px auto; }
    .planes-cont .imagen-plan img {
      height: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  .planes-cont ul {
    padding: 0;
    margin: 30px 0px; }
  .planes-cont p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: lighter; }
  .planes-cont h2 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
    min-height: 40px;
    margin: 0px 0px 20px 0px;
    padding: 0px; }
  .planes-cont .section-title {
    margin: 0px 0px 20px 0px;
    padding-top: 50px;
    padding-bottom: 50px; }

.cctv-cont {
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 100;
  background-color: rgba(77, 77, 77, 0.2);
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  border: solid 3px #fff;
  padding-top: 20px !important;
  padding-right: 25px !important;
  padding-bottom: 0px !important;
  padding-left: 25px !important;
  color: #fff !important; }
  .cctv-cont .cont-parrafo {
    min-height: 100px; }
  .cctv-cont ul {
    padding: 0;
    margin: 30px 0px; }
  .cctv-cont p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: lighter; }
  .cctv-cont h2 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
    min-height: 40px;
    margin: 0px 0px 20px 0px;
    padding: 0px; }
  .cctv-cont .section-title {
    margin: 0px 0px 20px 0px;
    padding-top: 50px;
    padding-bottom: 50px; }

.team-cont {
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 100;
  color: #fff !important; }
  .team-cont .cont-parrafo {
    min-height: 100px; }
  .team-cont ul {
    padding: 0;
    margin: 30px 0px; }
  .team-cont p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
    color: #fff !important; }
  .team-cont h2 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
    min-height: 40px;
    margin: 0px 0px 20px 0px;
    padding: 0px; }
  .team-cont .section-title {
    margin: 0px 0px 20px 0px;
    padding-top: 50px;
    padding-bottom: 50px; }

.img-cont {
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  border: solid 3px #fff;
  padding-top: 20px !important;
  padding-right: 25px !important;
  padding-bottom: 20px !important;
  padding-left: 25px !important;
  color: #fff !important;
  width: 100%;
  min-height: 600px;
  background: url(../images/web/fondo-servicio.png);
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.img-cont2 {
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  border: solid 3px #fff;
  padding-top: 20px !important;
  padding-right: 25px !important;
  padding-bottom: 20px !important;
  padding-left: 25px !important;
  color: #fff !important;
  width: 100%;
  min-height: 400px;
  background: url(../images/web/fondo-servicio2.png);
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.img-cont3 {
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  border: solid 3px #fff;
  padding-top: 20px !important;
  padding-right: 25px !important;
  padding-bottom: 20px !important;
  padding-left: 25px !important;
  color: #fff !important;
  width: 100%;
  min-height: 500px;
  background: url(../images/web/fondo-servicio3.png);
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.img-cont4 {
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  border: solid 3px #fff;
  padding-top: 20px !important;
  padding-right: 25px !important;
  padding-bottom: 20px !important;
  padding-left: 25px !important;
  color: #fff !important;
  width: 100%;
  min-height: 500px;
  background: url(../images/web/googleapps-for-work.png);
  background-color: rgba(255, 255, 255, 0.2);
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.h-margin-row {
  margin: 30px 0px 30px 0px; }

.h-padding-top-15p {
  padding: 15px 0px 0px 0px; }

footer {
  padding: 40px 0;
  color: white;
  background: #162029; }
  footer li {
    float: left;
    padding: 0 10px;
    list-style: none; }
  footer a {
    color: white;
    text-decoration: none; }
    footer a:hover {
      text-decoration: none; }
  footer p {
    float: right; }

ul {
  padding: 0px;
  margin: 0px;
  list-style: none; }

figure > figcaption {
  display: none; }

/** SECTIONS */
section {
  padding: 20px; }

.section-title {
  text-transform: uppercase; }

.services {
  background: #F8F8F8; }

/** BOXES */
.profile .role {
  color: rgba(80, 80, 80, 0.9);
  font-size: 1.2rem; }
.profile .picture {
  border-radius: 50%;
  border: 2px solid #dadada;
  overflow: hidden;
  width: 300px;
  height: 300px; }
  .profile .picture img {
    width: 100%; }
.profile .name {
  font-size: 2rem; }
.profile .description {
  color: rgba(50, 50, 50, 0.9);
  font-size: 0.9rem; }

.service-box {
  border: 1px solid #CCC;
  border-radius: 5px;
  background-color: #FFFFFF; }
  .service-box > .title {
    text-transform: capitalize;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 0px 10px 0px; }
  .service-box .icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #CCC;
    font-size: 2rem;
    margin-bottom: -50px;
    background-color: #FFFFFF; }
  .service-box > .content {
    background-color: #F5F5F5;
    font-size: 0.9rem;
    text-align: justify;
    padding: 10px;
    padding-top: 65px;
    min-height: 363px;
    border-radius: 5px; }
    .service-box > .content .feature .mdi {
      font-size: 1.2rem; }

.wrap-image-feature {
  height: 650px;
  overflow: hidden; }

/** COLORS */
.cl-blue-corp {
  color: #0971b7 !important; }

.bg-blue-corp {
  background-color: #0971b7 !important; }

.cl-gray-corp {
  color: #454545 !important; }

.cl-white {
  color: #FFFFFF !important; }

/** SIZE */
.w100 {
  width: 100% !important; }

.fs-xlarge {
  font-size: 5rem; }

/** TEXT */
text-capitalize {
  text-transform: capitalize; }

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .navbar-nav {
    padding-left: 20px;
    padding-bottom: 20px; }

  .testimonial-net {
    display: none; }

  .off-test {
    display: none; }

  .home-slider {
    padding: 0px;
    margin: 100px 0px 0px 0px !important;
    min-height: 350px; }
    .home-slider img {
      height: 350px !important; }
    .home-slider p {
      font-size: 20px; }
    .home-slider h5 {
      font-size: 65px; }
    .home-slider .img-responsive {
      display: block;
      width: 100%;
      height: auto; }
    .home-slider .carousel-caption {
      position: absolute;
      right: 15%;
      bottom: 0;
      top: 60px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: left; }
    .home-slider .carousel-inner {
      height: 350px; }

  .top-net {
    display: none; }

  .seccion-contacto .clear {
    clear: both; }
  .seccion-contacto .wrapper {
    width: 100%;
    margin: 0 auto; }
  .seccion-contacto .formInfo {
    background-color: #fff;
    padding: 40px;
    border-radius: 6px; }

  .boton-solicitar {
    padding: 0;
    margin: 0;
    display: block; }
    .boton-solicitar .btn:not(:disabled):not(.disabled) {
      cursor: pointer;
      width: 300px;
      font-size: 12px !important; }
    .boton-solicitar .btn {
      width: 300px !important;
      font-size: 12px; }
    .boton-solicitar a {
      width: 300px !important; }

  .boton-movil {
    display: none; }

  .nav-net {
    min-height: 0; }

  header {
    height: auto; }
    header i {
      display: none; }
    header img {
      height: 60px !important;
      padding-left: 20px; }
    header .nav-link {
      text-align: left !important; }

  .header-net {
    min-height: auto; }
    .header-net .navbar-collapse {
      padding: 0px 0px 0px 0px; }

  .quienes-cont {
    margin: 10px 0px 10px 0px; }
    .quienes-cont h2 {
      margin: 0px 0px 20px 0px; }

  .elect-cont {
    margin: 10px 0px 10px 0px; }
    .elect-cont h2 {
      margin: 0px 0px 20px 0px; }

  .img-cont {
    color: #fff !important;
    width: 100%;
    min-height: 300px;
    margin: 0px 0px 20px 0px; }

  .img-cont2 {
    color: #fff !important;
    width: 100%;
    min-height: 300px;
    margin: 0px 0px 20px 0px; }

  .img-cont3 {
    color: #fff !important;
    width: 100%;
    min-height: 300px;
    margin: 0px 0px 20px 0px; }

  .img-cont4 {
    color: #fff !important;
    width: 100%;
    min-height: 300px;
    margin: 0px 0px 20px 0px; }

  .seccion-visitas {
    padding: 1px 0px 1px 0px; }
    .seccion-visitas h1 {
      font-size: 25px; }

  .h-margin-row {
    margin: 20px 0px 20px 0px; }

  .planes-titulo h1 {
    font-size: 30px; }

  .planes-cont {
    margin: 10px 0px; }
    .planes-cont .cont-parrafo {
      min-height: 100px; }
    .planes-cont h2 {
      margin: 0px; }
    .planes-cont .imagen-plan img {
      height: 70px; }

  .img-plan img {
    height: 60px; }

  .seccion-banner h2 {
    font-size: 24px !important; }

  .seccion-banner2 h2 {
    font-size: 24px !important; }

  .seccion-cctv .cctv-titulo h1 {
    font-size: 25px; }
  .seccion-cctv .cctv-subtitulo h2 {
    font-size: 18px !important; }

  .cctv-cont {
    margin: 10px 0px 10px 0px;
    padding-top: 0px !important; }
    .cctv-cont img {
      height: 120px; }

  .seccion-clientes .clientes-img {
    padding-top: 0px;
    margin: 7px auto; }
    .seccion-clientes .clientes-img img {
      width: 80%;
      margin: 0px auto; }

  .seccion-team .team-titulo h1 {
    font-size: 33px; }
  .seccion-team .team-subtitulo h3 {
    font-size: 18px !important; }

  .air-titulo h1 {
    font-size: 30px; }

  .air-cont {
    margin: 10px 0px; }
    .air-cont .air-parrafo {
      min-height: 100px; }
    .air-cont h2 {
      margin: 0px; }
    .air-cont .air-plan img {
      height: 70px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .navbar-light .navbar-nav a {
    text-align: left !important; }

  .navbar-nav {
    padding-left: 30px;
    padding-bottom: 20px; }

  .testimonial-net {
    display: none; }

  .off-test {
    display: none; }

  .top-net {
    display: none; }

  .home-slider {
    padding: 0px;
    margin: 100px 0px 0px 0px !important;
    min-height: 350px; }
    .home-slider img {
      height: 350px !important; }
    .home-slider p {
      font-size: 20px; }
    .home-slider h5 {
      font-size: 65px; }
    .home-slider .img-responsive {
      display: block;
      width: 100%;
      height: auto; }
    .home-slider .carousel-caption {
      position: absolute;
      right: 15%;
      bottom: 0;
      top: 60px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: left; }
    .home-slider .carousel-inner {
      height: 350px; }

  header {
    height: auto; }
    header img {
      height: 60px !important;
      padding-left: 20px; }
    header i {
      display: none; }

  .nav-net {
    height: auto; }

  .header-net {
    height: auto; }
    .header-net .navbar-collapse {
      padding: 0px 0px 0px 0px; }

  .quienes-cont {
    margin: 10px 0px 10px 0px; }

  .elect-cont {
    margin: 10px 0px 10px 0px; }

  .cont-parrafo {
    min-height: 220px !important; }
    .cont-parrafo h2 {
      margin: 0px 0px 20px 0px; }

  .planes-titulo h1 {
    font-size: 30px; }

  .planes-cont {
    margin: 10px 0px;
    height: 270px; }
    .planes-cont .cont-parrafo {
      min-height: 10px; }
    .planes-cont h2 {
      margin: 0px; }
    .planes-cont .imagen-plan img {
      height: 70px; }

  .seccion-banner h2 {
    font-size: 24px !important; }

  .seccion-cctv .cctv-titulo h1 {
    font-size: 25px; }
  .seccion-cctv .cctv-subtitulo h2 {
    font-size: 18px !important; }

  .cctv-cont {
    margin: 10px 0px 10px 0px;
    padding-top: 0px !important;
    height: 320px; }
    .cctv-cont .cctv-titulo h1 {
      font-size: 25px !important; }
    .cctv-cont img {
      height: 150px;
      margin: 10px 0px 10px 0px; }

  .seccion-contacto h1 {
    font-size: 25px !important; }
  .seccion-contacto .clear {
    clear: both; }
  .seccion-contacto .wrapper {
    width: 100%;
    margin: 0 auto; }
  .seccion-contacto .formInfo {
    background-color: #fff;
    padding: 40px;
    border-radius: 6px; }

  .seccion-visitas {
    padding: 1px 0px 1px 0px; }

  .img-cont {
    color: #fff !important;
    width: 100%;
    min-height: 300px;
    margin: 0px 0px 20px 0px; }

  .img-cont2 {
    color: #fff !important;
    width: 100%;
    min-height: 300px;
    margin: 0px 0px 20px 0px; }

  .img-cont3 {
    color: #fff !important;
    width: 100%;
    min-height: 300px;
    margin: 0px 0px 20px 0px; }

  .img-cont4 {
    color: #fff !important;
    width: 100%;
    min-height: 300px;
    margin: 0px 0px 20px 0px; }

  .air-titulo h1 {
    font-size: 30px; }

  .air-cont {
    margin: 10px 0px; }
    .air-cont .air-parrafo {
      min-height: 100px; }
    .air-cont h2 {
      margin: 0px; }
    .air-cont .air-plan img {
      height: 70px; } }
.carousel-item > div {
  float: left; }

.carousel-by-item [class*="cloneditem-"] {
  display: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .home-slider {
    padding: 0px;
    margin: 0px;
    min-height: 320px; }
    .home-slider p {
      font-size: 20px; }
    .home-slider h5 {
      font-size: 45px; }
    .home-slider img {
      object-fit: cover;
      height: 320px; }
    .home-slider .img-responsive {
      display: block;
      width: 100%;
      height: auto; }
    .home-slider .carousel-caption {
      position: absolute;
      right: 15%;
      bottom: 50px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: left;
      font-size: 16px; }
    .home-slider .carousel-inner {
      min-height: 320px; }

  .top-eticsa {
    display: none; }

  header {
    height: 20px;
    padding: 0px 0px 0px 0px; }
    header .navbar {
      padding: 20px 0px 0px 0px; }

  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%; }

  /* Styles */
  /* Styles */ }

/*# sourceMappingURL=main.css.map */
